body {
    font-family: "Poppins", sans-serif;
  }
  
  main {
    width: 100%;
    margin-right: 0;
  }
  
  .img-nav {
    height: 50px;
  }
  
  .menu {
    background-color: #ffff;
    height: 70px;
    top: 0;
    position: fixed;
    font-size: 13px;
    width: 100%;
    z-index: 999;
  }
  
  .menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    list-style: none;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  
  .menu__links {
    list-style: none;
    height: 100%;
    margin-bottom: 0;
    transition: transform 0.5s;
    display: flex;
  }
  
  .menu__item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
  }
  
  .menu__item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
  }
  
  .menu__link {
    color: var(--primary);
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
  }
  
  .menu__link:hover {
    background-color: #e2e2e2;
    color: var(--primary);
  }
  
  .menu__arrow {
    transform: var(--transform);
    transition: transform 0.3s;
    display: block;
    margin-left: 3px;
  }
  
  .menu__nesting {
    list-style: none;
    transition: clip-path 0.3s;
    clip-path: var(--clip);
    padding-left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #e2e2e2;
  }
  
  .menu__link--inside {
    padding: 30px 100px 30px 20px;
  }
  
  .menu__link--inside:hover {
    background-color: #d8d8d8;
  }
  
  .menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
  }
  
  .container {
    width: 100%;
  }
  
  .menu__img {
    display: block;
    width: 36px;
  }

  /*-------------------FOOTER--------------------  */
.footer-container {
    padding: 20px 50px;
    font-weight: 100;
  }
  
  .text-footer {
    color: #9c9c9c;
  }
  
  .footer {
    font-family: "Poppins", sans-serif;
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 13px;
    justify-content: space-around;
  }
  
  .divisor-align {
    display: flex;
    justify-content: center;
  }
  
  .divisor-footer {
    width: 100%;
    border-bottom: 0.5px solid #9c9c9c;
  }

  @media (max-width: 800px) {
    .menu {
      max-width: 100%;
    }
  
    .menu__hamburguer {
      display: flex;
    }
  
    .menu__item {
      --clip: 0;
      overflow: hidden;
    }
  
    .menu__item--active {
      --transform: rotate(0);
      --background: #5e7094;
    }
  
    .menu__item--show {
      background-color: var(--terciario-hover);
    }
  
    .menu__links {
      position: fixed;
      max-width: 400px;
      width: 100%;
      top: 70px;
      bottom: 0;
      right: 0;
      background-color: var(--terciario);
      overflow-y: auto;
      display: grid;
      grid-auto-rows: max-content;
      transform: translateX(100%);
    }
  
    .menu__links--show {
      transform: unset;
      width: 100%;
    }
  
    .menu__link {
      padding: 25px 0;
      padding-left: 30px;
      height: auto;
    }
  
    .menu__arrow {
      margin-left: auto;
      margin-right: 20px;
    }
  
    .menu__nesting {
      display: grid;
      position: unset;
      width: 100%;
      transform: translateY(0);
      height: 0;
      background-color: var(--terciario-hover);
      transition: height 0.3s;
    }
  
    .menu__link--inside {
      width: 90%;
      margin-left: auto;
      border-left: 1px solid #798499;
    }
      /*--------------------------FOOTER------------------------------------ */
  .text-footer {
    font-size: 14px;
  }
}  